html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.card-one {
  background-color: #f2f2f2;
}

img {
  float: left;
  width: 25%;
}
