html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.card-one {
  background-color: #f2f2f2;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid #333;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto 1.5rem;
}

.card-two {
  background-color: #e2e2e2;
}

.card-three {
  background-color: #ccc;
}

.card-four {
  background-color: #aaa;
}
