html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.card-one {
  background-color: #e2e2e2;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid #333;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto 1.5rem;
}

cite {
  font-style: italic;
}

.card-two {
  background-color: #ccc;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid #333;
}

.card-three {
  background-color: #aaa;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid #333;
}

.card-four {
  background-color: #999;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid #333;
}

.btn {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: .75rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.btn-small {

}
